.library_item {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.library_item button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.library_item button:hover {
  color: #007bff;
}
