main {
  padding: 0 400px;
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 0;
}

.library_item {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.library_item button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.library_item button:hover {
  color: #007bff;
}

.library_add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library_add-item input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  border-right: none;
  height: 40px;
}

.library_add-item button {
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  height: 40px;
  cursor: pointer;
}
