li.library_item(hx-target='this', hx-swap='outerHTML')= item.title
  div
    button(hx-post='/api/toggle-edit', hx-vals=`{ "id": "${item.id}" }`) edit
    button(hx-delete='/api/delete-item', hx-vals=`{ "id": "${item.id}" }`) delete
